@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Exo:400,700);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);


body {
  font-family: Exo;
  padding-top: 70px;
  padding-bottom: 100px;
}

.navbar-text > a {
  color: inherit; // what this will do will not show the blue highlighted color on our footer icons
  text-decoration: none;
}

.vitruvian {
  height: 60px;
  width: 60px;
  margin: 3px 0;
}


.carousel {
  margin-bottom: 30px;
  img {
    min-width: 100%;
  }
}

.thumbnail img:hover {
  transform: scale(1.1);
}

.thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;
}

.thumbnail {
  overflow: hidden; 
}

.panel {
  width: 100%;
  margin-top: 50px;
  margin-right: 5px;
}

.panel-break {
  margin: 0px;
}


.fat {
  background: url('http://i.imgur.com/gZXVvOC.png') repeat;
}

.carbo {
  background: url('http://i.imgur.com/gZXVvOC.png') repeat;
}
.proteinPlus {
  background: url("http://i.imgur.com/gZXVvOC.png") repeat;
}

.breakfast {
 background: url('http://i.imgur.com/cMmDNHI.png') repeat; 
}

.table {
  font-family: Didact Gothic;
  font-size: 17px;
}

img {
  max-width: 100%;
}

.img-snd {
  margin-top: 20px;
}

.snacks {
  background: url('http://i.imgur.com/qZMquXL.png') repeat;
}

.Nutrition-Plan {
  position: relative;
  background: #F8F8F8;
  padding: 150px 0;  
  margin: 0;
  text-align: center;
  .Nutrition-Plan h3 {
    font-size: 25px;
  }
}
.selling-points {
  position: relative;
  padding: 100px;
  .point {
    padding: 0px;
    margin-left: 100px;
    p {
      font-size: 14px;
      font-family: Montserrat;
    }
  }
}


.glyphicon {
  margin-right: -25px;
  margin-top: -4px;
}

.fluids {
  margin-bottom: 60px;
}

.flex-lewis {
  margin-top: 50px;
}

.Goals {
  position: relative;
  background-color: #FBFBFB;
  padding: 150px 0;  
  margin: 0;
  text-align: center;
  img {
    height: 75px;
    width: 75px;
    margin-left: 25px;
    } // closing SASS img tag
} // closing goals class tag


