@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Exo:400,700);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
@import url(http://fonts.googleapis.com/css?family=Goblin+One);


body {
  font-family: Exo;
}


.navbar-text > a {
  color: inherit; // what this will do will not show the blue highlighted color on our footer icons
  text-decoration: none;
}


.carousel {
  margin-top: 30px;
  img {
   min-width: 100%;
  }
}


.panel {
  width: 100%;
  margin-top: 50px;
  margin-right: 5px;
}

.panel-break {
  margin: 0px;
}


.proteinPlus {
  background: #fafafa;
}

.fat {
  background: #fafafa;
}

.carbo {
  background: #fafafa;
}

//  Jumbotron backgrounds!    ///////////////// 
.breakfast-container{
  padding-bottom: 150px; 
  .breakfast {
    margin-top: 75px;
    background: url('http://i.imgur.com/cMmDNHI.png') repeat; 
  }
}
.snacks-container{
  padding-bottom: 150px;
  .snacks {
    margin-top: 75px;
    background: url('http://i.imgur.com/qZMquXL.png') repeat;
  }
}
.lunch-container {
  padding-bottom: 75px;  
  .lunch {
    margin-top: 75px;
    background: url('http://i.imgur.com/QDUHC04.png') repeat;
  }
}  
.dinner-container {
  padding-bottom: 75px;
  .dinner {
    margin-top: 75px;
    background: url('http://i.imgur.com/lrOdRSl.png') repeat;
  }
}
///////////////////////////////////////////



.table {
  font-family: Didact Gothic;
  font-size: 17px;
}

img {
  max-width: 100%;
}

.img-snd {
  margin-top: 20px;
}

.Nutrition-Plan {
  position: relative;
  background:  #FBFBFB;
  padding: 180px 0;  
  margin: 0;
  text-align: center;
  h3 {
    font-size: 25px;
  }
}

.container-fluid {
  margin-bottom: 60px;
}

.selling-points {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 100px;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .point {
    padding: 0px;
    margin: 0 10px;
    text-align: center;
    p {
      font-size: 14px;
      font-family: Montserrat;
      }
    }
  }

.glyphicon {
  margin-right: -25px;
  margin-top: -4px;
}


.home-images {
  margin-top: 50px;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.Goals {
  position: relative;
  background-color: #FBFBFB;
  padding: 180px 0;  
  text-align: center;
  img {
    height: 75px;
    width: 75px;
    margin-left: 25px;
    } 
} 



//////////Dinner Page////////////

.dinner-options {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  @media (min-width: 768px){
  flex-direction: row;
  }
}
///////////////////////

//////Margin

.container-fat,
.container-carbs,
.container-protein {
  margin-top: 75px;
  margin-bottom: 75px;
}

.aboutme-page {
  margin-top: 35px;
} 

.aboutme-row {
  margin: 150px 0;
  font-family: Montserrat;
  text-align: center;
}


.aboutme-intro {
  position: relative;
  background:  #FBFBFB;
  padding: 180px 0;  
  margin-top: 50px;
  font-family: Montserrat;
  text-align: center;
}

.aboutme-second-photo {
  margin: 100px 0;
}

.aboutme-second-intro {
  position: relative;
  background:  #FBFBFB;
  padding: 180px 0;  
  font-family: Montserrat;  
  margin-top: 50px;
  text-align: center;
}


/////////////modal validation custom css///////////////

form[novalidate] input {
  border-left-width: 8px;
  border-color: #3498db;
  border-style: solid;
}

input[required].ng-pristine {
  border-color: #ef4c3c;
}

input.ng-invalid.ng-dirty {
  border-color: #ef4c3c;
}

input.ng-valid.ng-dirty {
  border-color: #2ecc71;
}
