@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Exo:400,700);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

body {
  font-family: Exo;
  padding-top: 70px;
  padding-bottom: 100px;
}

.navbar-text > a {
  color: inherit; // what this will do will not show the blue highlighted color on our footer icons
  text-decoration: none;
}


.carousel {
  margin-bottom: 20px;
}

.thumbnail img:hover {
  transform: scale(1.1);
}

.thumbnail img {
  transition: all 0.3s ease 0s;
  width: 100%;
}

.thumbnail {
  overflow: hidden; 
}

.panel {
  width: 100%;
  margin-top: 50px;
  margin-right: 5px;
}

.panel-break {
  margin: 0px;
}


.fat {
  background: url('http://i.imgur.com/gZXVvOC.png') repeat;
}

.carbo {
  background: url('http://i.imgur.com/gZXVvOC.png') repeat;
}
.proteinPlus {
  background: url("http://i.imgur.com/gZXVvOC.png") repeat;
}

.breakfast {
 background: url('http://i.imgur.com/cMmDNHI.png') repeat; 
}

.table {
  font-family: Didact Gothic;
  font-size: 17px;
}

img {
  max-width: 100%;
}

.img-snd {
  margin-top: 20px;
}