<div class="aboutme-page">
  <img src="http://i.imgur.com/WFS9eZF.jpg"  alt="main photo"/>
</div>

<div class="container-fluid">
  <div class="row aboutme-row">
    <div class="col-md-4">
      <h2>About Me</h2>
      <p>My name is Irwin Litvak and I am 25 years old. I currently reside in Brooklyn NY where I live with my family. I come from a Ukrainian background
         and speak fluent Russian.</p>
    </div>
    <div class="col-md-4">
      <h2>Passion</h2>
      <p>My current passion is Coding / Nutrition / Working-Out. These are interchangable because I love them all haha.</p>
    </div>
    <div class="col-md-4">
      <h2>Overcoming Failure</h2>
      <p><em>"Don’t be afraid to fail. Anything that I have always attempted, I was always willing to fail. Don’t be afraid of making decisions; you can’t be              paralysed with the fear of failure or you will never push yourself. You can push because you believe in yourself and your vision. You know it’s              the right thing to do and success will come. Don’t be afraid to fail." - AS</em>
      </p>
    </div>
  </div> <!--closing row class-->
</div> <!--closing container tag -->  

<div class="hero-unit">
  <div class="aboutme-intro">
    <h2>Persistence</h2>
    <h3><q>You can’t climb the ladder of success with the hands in the pockets. - Arnold Schwarzenegger</q> <br/></h3>
  </div>
</div>

<div class="aboutme-second-photo">
  <img src="http://i.imgur.com/gus2VnV.jpg" alt="no pain no gain"/>
</div>

<div class="hero-unit">
  <div class="aboutme-second-intro">
    <h2>Believe in Yourself</h2>
    <h3><q>I always listen to myself and say, “Yes.You.Can.” You never want to fail because you never worked hard enough. Work your butt off. - AS</q></h3>
  </div>
</div>
