<div class="container container-carbs">
  <div class="jumbotron text-center carbo">
    <h1>Carbohydrates</h1>
    <p>The misunderstood child of the family.</p>
  </div> <!--jumboton closing tag -->
  <div class="row">
    <div class="col-md-6">
      <img src="http://i.imgur.com/dz26Dde.jpg" alt="healthy carbs photo"/>
      <h1>Healthy Carbohydrates</h1>
      <p><strong>Complex carbohydrates</strong> are also known as starches and are made of three or more linked sugars. Grains such as bread, pasta, oatmeal        and rice are complex carbs, as well as some vegetables like broccoli, corn legumes such as kidney beans and chick peas. They take the                        longest to digest.
      </p>
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Complex Carbohydrates</strong></h3>
        </div> <!--panel-heading closing tag -->
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <td><strong>Grains</strong></td> <!--Table Heading -->
              <td>Quinox, Oatmeal, Bread, Pasta, Rice, Buckwheat</td>
              <td>Recommendation: Opt for the whole-wheat/whole-grain options for these grains! More often than not, they will have less calories and less                     fat.
              </td>
            </tr>
            <tr>
              <td><strong>Nuts/Seeds and Legumes</strong></td>
              <td>Lentils, Kidney Beans, Chick Peas, Split Peas, Soy Beans, Pinto Beans, </td>
              <td>Recommendation: Use portion size as described on back of packaging. This will avoid unnecessary calorie intake. Also by consuming the                         portion size you will avoid feeling bloated.
              </td>
            </tr>
            <tr>
              <td><strong>Fruits</strong></td>
              <td>Strawberries, Apples, Pears, Grapefruit, Prunes, Tomatoes</td>
              <td>Recommendation: Have more of these options in the morning than in the evening to avoid stacking too much sugar in your diet.</td>
            </tr>
            <tr>
              <td><strong>Vegetables</strong></td>
              <td>Potatoes, Onions, Okra, Dill Pickels, Carrots, Yams, Radishes, Beans, Broccoli, Spinach, Green Beans, Zucchini, Cucumbers, Asparsagus</td>
              <td>Recomendation: Depeneding on your goals, Yams > Potatoes (Unless you are trying to gain mass then It's recommended to have white potatoes),                   You can never go wrong with having too much vegetables, so get to it! Warning: DO NOT drench your salads in oils! </td>
            </tr>
          </tbody>
        </table> <!--closing table class tag -->
      </div> <!--main closing panel tag -->
    </div> <!-- col md-6 closing tag-->
    <div class="col-md-6">
      <img src="http://i.imgur.com/eHQZDFY.jpg" alt="unhealthy carbs photo"/>
      <h1>Unhealthy Carbohydrates</h1>
      <p><strong>Simple carbohydrates</strong> are broken down quickly by the body to be used as energy. Simple carbohydrates are found naturally in foods                    such as fruits, milk, and milk products. They are also found in processed and refined sugars such as candy, table sugar, syrups, and soft                    drinks. 
      </p>
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Simple Carbohydrates</strong></h3>
        </div> <!--panel-heading closing tag -->
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td><strong>Fruits</strong></td> <!--Table Heading -->
                <td>Banana, Blackberry, Black Current, Blueberry, Cherries, Cranberries, Grapefruit, Kiwi, Melon, Orange, Peach, Plum, Raspberry </td>
                <td>Recommendation: Depending on goals, banana's are excellent pre-workout(45-1hr) min before training meals. Blueberries are also great                         snacks without the added worry of eating too much. 
                </td>
              </tr>
              <tr>
                <td><strong>Candy</strong></td>
                <td>Snickers, M&M's, Hershey's, Twizzlers, Milky-Way, 3-Muskateers</td>
                <td>  Filled with nothing but high sugar, carbs, and fat. Recommendation: stay away!</td>
              </tr>
              <tr>
                <td><strong>Sodas</strong></td>
                <td>Coke-Cola, Sprite, Fanta, Pepsi, Dr.Pepper, Mountain Dew, Root-Beer</td>
                <td>Recommendation: If you choose to indulge in drinking soda, remember that the calories and sugar add up quick. If you can switch to water                     and save yourself the stress of doing extra cardio than is needed. 
                </td>
              </tr>
            </tbody>
          </table> <!--closing table class tag -->
      </div> <!--main closing panel tag --> 
    </div> <!--col-md-6 closing tag -->
  </div> <!--row closing tag -->
</div> <!--Container closing tag -->





