<div class="container">
  <div class="jumbotron text-center">
    <h1>Carbohydrates</h1>
    <p>The misunderstood child of the family.</p>
  </div> <!--jumboton closing tag -->
  <div class="row">
    <div class="col-md-6">
      <a href="#" class="thumbnail">
        <img src="http://i.imgur.com/dz26Dde.jpg" alt="healthy carbs photo"/>
      </a>
      <h1>Healthy Carbohydrates</h1>
      <p>Complex carbohydrates are also known as starches and are made of three or more linked sugars. Grains such as bread, pasta, oatmeal and rice are              complex carbs, as well as some vegetables like broccoli, corn legumes such as kidney beans and chick peas. They take the longest to digest.
      </p>
    </div> <!-- col md-6 closing tag-->
    
    <div class="col-md-6">
      <a href="#" class="thumbnail">
        <img src="http://i.imgur.com/eHQZDFY.jpg" alt="unhealthy carbs photo"/>
      </a>
      <h1>Unhealthy Carbohydrates</h1>
      <p></p>
         
         
         
         
         
         
    </div> <!--col-md-6 closing tag -->
   </div> <!--row closing tag -->
  </div> <!--Container closing tag -->





