<div class="container dinner-container">
  <div class="jumbotron text-center dinner">
    <h1>Dinner</h1>
    <p>You've eaten well thus far, keep it up!</p>
  </div> <!--closing jumbotron tag -->
  
  <div class="dinner-options"> <!--begininning of flexbox -->
    <div class="">
      <img src="http://i.imgur.com/SlYOooD.jpg" alt="seared salmon"/>
      <p>Option 1</p>
    </div> <!--closing col-md-4-->
    <div class="">
      <img src="http://i.imgur.com/Bl7mNG8.jpg" alt="asian turkey burger"/>
      <p>Option 2</p>
    </div> <!--closing col-md-4-->
    <div class="">
      <img src="http://i.imgur.com/lDO9UjS.jpg" alt="steak w/ greenbeans"/>
      <p>Option 3</p>
    </div> <!--closing col tag-->
  </div> <!--closing flexbox tag dinner-options tag -->  
  
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Dinner Options</strong></h3>
    </div> <!--closing panel-heading tag-->
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td><strong>Dinner Option 1</strong></td>
          <td>Pan Seared Salmon w/ Kale and Apple Salad</td>
        </tr>
        <tr>
          <td><strong>Dinner Option 2</strong></td>
          <td>Asian Turkey Burger</td>
          <td>Recommendation: whole wheat/whole grain bread, 90/10, 95/5 lean turkey burger meat.</td>
        </tr>
        <tr>
          <td><strong>Dinner Option 3</strong></td>
          <td>Grilled Steak w/ green beans, tomatoes and chimichurri sauce</td>
          <td>Recommendation: Any cut of steak is acceptable. </td>
        </tr>
      </tbody>  
    </table>
  </div> <!--closing panel tag -->
  
  <div class="dinner-options">
    <div class="">
      <img src='http://i.imgur.com/Cz8cz9C.jpg' alt="tilapia" />
      <p>Option 4</p>
    </div> <!--closing col-md-4 tag -->
    <div class="">
      <img src="http://i.imgur.com/mjADZ6L.jpg" alt="veggie burger">
      <p>Option 5</p>
    </div>
    <div class="">
      <img src="http://i.imgur.com/HMC2Zm4.jpg" alt="gingerly lentil soup"/>
      <p>Option 6</p>
    </div>
  </div> <!--closing flexbox tag -->
  
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Dinner Options</strong></h3>
    </div> <!--closing panel heading tag -->
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td><strong>Dinner Option 4</strong></td>
          <td>Baked Tilapia w/ brown wild rice and asparagus</td>
          <td>Recommendation: 6-8oz of Tilapia, 4-6 oz of rice, and 4-6 oz of asparagus</td>
        </tr>
        <tr>
          <td><strong>Dinner Option 5</strong></td>
          <td>Bean-Kale Burger w/ sweet potato wedges on whole wheat bread</td>
          <td>Per serving: Calories 530; Fat 21g; Sodium 750 mg; Carbohydrate 71 g; Protein 19 g; Fiber 13</td>
        </tr>
        <tr>
          <td><strong>Dinner Option 6</strong></td>
          <td>Baked Tilapia w/ brown wild rice and asparagus</td>
          <td>Recommendation: 6-8oz of Tilapia, 4-6 oz of rice, and 4-6 oz of asparagus</td>
        </tr>
      </tbody>
    </table>
  </div> <!--closing panel-default tag -->
  
  <div class="dinner-options">
    <div class="">
      <img src="http://i.imgur.com/2FiY1tr.jpg" alt="Skillet Rosemary Chicken" />
      <p>Option 7<p>
    </div>  <!--closing col-md -->
    <div class="">
      <img src="http://i.imgur.com/jk9fjog.jpg" alt="Qunioa and Vegetable Stuffed Pepper" />
      <p>Option 8</p>
    </div>
    <div class="">
      <img src="http://i.imgur.com/ZNsccNw.jpg" alt="butternut squash soup"/>
      <p>Option 9</p>
    </div>
  </div> <!--closing flexbox -->
  
  <div class="panel panel-default text-center">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Dinner Options</strong></h3>
    </div> <!--panel-heading tag -->
    <table class="table table-bordered table-striped ">
      <tbody>
        <tr>
          <td><strong>Dinner Option 7</strong></td>
          <td>Skillet Rosemary Chicken w/ mushrooms and potatoes</td>
          <td>Recommendation: 1 serving per person: 6-8oz of chicken, 6-8 oz potatoes w/ mushrooms</td>
        </tr>
        <tr>
          <td><strong>Dinner Option 8</strong></td>
          <td>Quinoa and Vegetable Stuffed Peppers</td>
          <td>Recommendation: Enjoy!</td>
        </tr>
        <tr>
          <td><strong>Dinner Option 9</strong></td>
          <td>Butternut Squash soup</td>
          <td>Google this recipe because its absolutely delicious!</td>
        </tr>
      </tbody>
    </table>
  </div> <!--panel-default closing tag -->
</div> <!--closing container tag -->