<div class="container">
  <div class="jumbotron text-center fat">
  </div> <!--jumboton closing tag -->
  <div class="row">
    <div class="col-md-6">
      <a class="thumbnail">
        <img src="http://i.imgur.com/NfvUvQ5.jpg" alt="healthy Fats photo"/>
      </a>
      <h1>Healthy Fats</h1>
      <p>Thats right, we are talking Fats. Common misconception is that eating fats will cause you to gain weight in unwanted areas. I would like to put           that worry to rest. Eating healthy fats correctly will not cause unwarranted weight gain, the technique is proportion and selecitng the right fats           for you.
      </p>
      <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Healthy Fats</strong></h3>
        </div> <!--panel-heading closing tag -->
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td><strong>Fish</strong></td> <!--Table Heading -->
            <td>Salmon, Flounder, Sole, Pollock, Crabs, Tuna</td>
            <td>High Omega-3-Fatty-Acids. </td>
          </tr>
          <tr>
            <td><strong>Nuts</strong></td>
            <td>Almonds, Walnuts, Cashews, Flaxseeds </td>
            <td>Almonds (About 23 nuts = 170 calories, 15 grams fat). Walnuts (About 14 halves = 185 calories, 18 grams fat). Cashews (about 18 nuts =                     165 calories, 13 grams fat).</td>
          </tr>
          <tr>
            <td><strong>Oils</strong></td>
            <td>Cocunut oil, Grapeseed oil, Olive oil, Extra-Virigin Olive oil, Flaxseed oil</td>
            <td> Mainly used for cooking purposes. Make sure you review the temperature which is best for cooking to not burn the oil.</td>
          </tr>
          <tr>
            <td><strong>Vegetables</strong></td>
            <td>Avacado, Spinach, Kale, Brussels sprouts</td>
            <td>Omega-3's. Plants only offer a fraction of the omega-3s that fish do.</td>
          </tr>
        </tbody>
      </table> <!--closing table class tag -->
      </div> <!--main closing panel tag -->
      </div> <!--col-md-6 closing tag -->
      <div class="col-md-6">
        <a class="thumbnail">
          <img src="http://i.imgur.com/KmiXP3g.jpg" alt="unhealthy photo"/>
        </a>
        <h1>Unhealthy Fats</h1>
        <p>
         You've seen these ads before. Those succulent burgers and fries are tempting no? Just remember if you have serious goals about changing your body            composition, leave these bad boys at the store. Unhealthy fats cause fat build up in those glamour areas. Isn't this the reason you joined the                gym? Stay away!   
        </p>
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3 class="panel-title"><strong>Unhealthy Fats</strong></h3>
          </div> <!--panel-heading closing tag -->
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td><strong>Fast-Food</strong></td> <!--Table Heading -->
                <td>McDonalds, Burger-King, Wendy's, Taco-Bell, Etc </td>
                <td>If it's made fast, it's most likely bad for you. Processed foods at its finest, my recommendation is to avoid these choices and find                         healthier alternatives.
                </td>
              </tr>
              <tr>
                <td><strong>Nuts</strong></td>
                <td>Peanuts, Walnuts, Pistachios</td>
                <td>Peanuts are a catch-22, they are good for you, but having to many will pack on those calories!</td>
              </tr>
              <tr>
                <td><strong>Oils</strong></td>
                <td>Corn oil, Sunflower Oil, Soybean oil</td>
                <td>Depending on your goals, you should stray away from these oils and stick with the healthier options.</td>
              </tr>
              <tr>
                <td><b>Sodas</b></td>
                <td>Coke-Cola, Pepsi, Mountain-Dew, Sprite, Fanta, etc..</td>
                <td>These drinks may have 0g of fat, but they are <b>Extremely</b> high in sugar, which gets stored as FAT!</td>
              </tr>
            </tbody>
          </table> <!--closing table class tag -->
       </div> <!--panel closing tag -->
    </div> <!--col-md-6 closing tag -->
  </div> <!--row closing tag --> 
</div> <!--Container closing tag -->




  
  
  
