 <div class="container">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://i.imgur.com/ZtKoiwG.jpg" alt="gym photo">
      <div class="carousel-caption">
        <h3></h3>
        </div> 
      </div>
      <div class="item">
        <img src="http://i.imgur.com/vLVXQdO.jpg" alt="fruit photo">
        <div class="carousel-caption">
          <h3>Mixed Berries for Antioxidants</h3>
        </div>
      </div>
      <div class="item">
        <img src="http://i.imgur.com/kJlDPLe.jpg" alt="rest photo">
        <div class="carousel-caption">
          <h3>Rest, Rest, Rest!</h3>
        </div>
      </div>
    </div> <!--carousel-inner closing tag -->

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Main Carousel closing tag-->

      
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="http://i.imgur.com/Sa9ZC64.jpg" alt="water photo"/>
          </a>
          <h1>Staying Hydrated</h1>
          <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and for women, 2.7L (9 glasses of water) per day. Your body is comprised of approximately 70-75% water</p>
         
       </div>
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="http://i.imgur.com/SS4dBaN.png" alt="metabolism photo"/>
          </a>
          <h1>Speed up Metabolism</h1>
          <p>In order to speed up your metabolism you have to follow certain guidelines. Firstly, you should be eating small meals/snacks periodically throughtout your day. Everyones favorite beverage, coffee is a stimulant that increases the bodies metabolic rate. So next time you decide to drink coffee remember you are doing your body some justice!</p>
        
        </div>
        <div class="col-md-4">
          <a href="#" class="thumbnail">
            <img src="http://i.imgur.com/kB0CZ5o.jpg" alt="gym photo"/>
          </a>
          <h1>Training Your Body</h1>
          <p>At the end of the day eating well can only get you so far. It's time to get off the couch and drop those Doritos and head over to the gym to burn off some fat. Whether you're a beginner or familiar with the gym, training is important for everyone, so lets have fun and get started! </p>
         
        </div> <!--main row closing tag -->
      </div> <!--jumbotron closing tag -->
    </div> <!--container closing tag -->