<div class="hero-unit">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol> <!--closing  carousel indicators tag -->
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://i.imgur.com/ZtKoiwG.jpg" alt="gym photo"/>
      </div> <!--closing item-active tag -->
      <div class="item">
        <img src="http://i.imgur.com/vLVXQdO.jpg" alt="fruit photo"/>
      <div class="carousel-caption">
        <h3>Mixed Berries for Antioxidants</h3>
      </div> <!--closing caption tag -->
      </div> <!--closing item tag -->
      <div class="item">
        <img src="http://i.imgur.com/kJlDPLe.jpg" alt="rest photo"/>
      </div> <!-- closing item tag -->
    </div> <!--carousel-inner closing tag -->
      <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Main Carousel closing tag-->
  </div> <!--closing hero-unit -->

  <div class="container-fluid fluids">
    <div class="selling-points">
      <div class="point col-md-2"> <!-- Business  Plan Selling Points -->
        <h3><strong>Nutrition / Training</strong></h3>
        <p>Nutrition is 70% of the battle and Training is 30%. You could work out for 2 hours, but if you're not eating well, your cries will fall upon deaf            ears. 
        </p>
    </div> <!--Closing selling-point tag -->
    <div class="point col-md-2">
      <h3><strong>Coffee</strong></h3>
      <p> The lifeline for most people. This liquid sensation that's hitting the nation speeds up your bodies metabolism. A quick Coffee in the morning with             your meal will do you justice! 
      </p>
    </div> <!--closing point tag -->
    <div class="point col-md-2">
      <h3><strong>Adequate Rest</strong></h3>
      <p> Probably just as important as training and dieting. Muscles dont grow when you train, the muscle fibers are broken down. They get replenished with           proper dieiting and plenty of sleep. You grow in your sleep, so if you want results get to resting!
      </p>
    </div> <!--Closing point tag -->
    <div class="point col-md-2">
      <h3><strong>Training Partner</strong></h3>
      <p> Sometimes you need that extra push of motivation. Find a gym buddy or make a new friend at your gym and push those gains to the limit!
      </p>
    </div> <!--Closing point tag -->
    <div class="col-md-4"></div>
  </div> <!--Closing Selling Points Tag -->
 </div> <!--Closing container tag -->

 <div class="hero-unit">
   <div class="Nutrition-Plan">
     <h2>Nutrition is key to achieving the body you always wanted</h2> 
     <h3>Abs are not made in the gym, they are made in the kitchen! </h3>
   </div> <!--closing Nutrition-Plan tag -->
 </div> <!--closing hero-unit tag -->

 <div class="container flex-lewis">
   <div class="row">
     <div class="col-md-4">
       <img src="http://i.imgur.com/Sa9ZC64.jpg" alt="water photo"/>
       <h1>Staying Hydrated</h1>
       <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and           for women, 2.7L (9 glasses of water) per day. Your body is comprised of approximately 70-75% water</p>
     </div> <!--closing col-md-4 tag -->
     
     <div class="col-md-4">
       <img src="http://i.imgur.com/SS4dBaN.png" alt="metabolism photo"/>
       <h1>Speed up Metabolism</h1>
       <p>In order to speed up your metabolism you have to follow certain guidelines. Firstly, you should be eating small meals/snacks periodically                    throughtout your day. Everyones favorite beverage, coffee is a stimulant that increases the bodies metabolic rate. 
       </p> 
     </div> <!--closing col-md-4 tag -->
     
     <div class="col-md-4">
       <img src="http://i.imgur.com/kB0CZ5o.jpg" alt="gym photo"/>
       <h1>Training Your Body</h1>
       <p>At the end of the day eating well can only get you so far. It's time to get off the couch and drop those Doritos and head over to the gym to                  burn off some fat. Whether you're a beginner or familiar with the gym, training is important for everyone, so lets have fun and get started!              </p>
     </div> <!--closing col-md-4 -->
   </div> <!--main row closing tag -->  
 </div> <!--container closing tag -->

  <div class="hero-unit">
   <div class="Goals">
     <h2>Training Mind, Body and Heart</h2> 
     <img src="http://i.imgur.com/FO09gRp.jpg" class="yoga" alt="yoga icon"/>
     <img src="http://i.imgur.com/Pk31qXk.jpg" class="dumbbell" alt="dumbbell icon"/>
     <img src="http://i.imgur.com/9T6XXc0.jpg" class="heart" alt="heart icon">
   </div> <!--closing goals tag -->
  </div> <!--closing hero-unit tag -->
  



