<div class="container-fluid carousel">
  <div ng-controller="CarouselDemoCtrl" id="slides_control">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}">
      </slide>
    </carousel>
  </div> <!--closing ctrl tag -->
</div> <!--closing container tag -->

<div class="container-fluid">
  <div class="selling-points">
    <div class="point"> <!-- Business  Plan Selling Points -->
      <h3><strong>Nutrition / Training</strong></h3>
      <p>Nutrition is 70% of the battle and Training is 30%. You could work out for 2 hours, but if you're not eating well, your cries will fall upon deaf            ears. 
      </p>
    </div> <!--point tag -->
    <div class="point">
      <h3><strong>Coffee</strong></h3>
      <p> The lifeline for most people. This liquid sensation that's hitting the nation speeds up your bodies metabolism. A quick Coffee in the morning with             your meal will do you justice! 
      </p>
    </div> <!--closing point tag -->
    <div class="point">
      <h3><strong>Adequate Rest</strong></h3>
      <p> Probably just as important as training and dieting. Muscles dont grow when you train, the muscle fibers are broken down. They get replenished with           proper dieiting and plenty of sleep. You grow in your sleep, so if you want results get to resting!
      </p>
    </div> <!--Closing point tag -->
    <div class="point">
      <h3><strong>Training Partner</strong></h3>
      <p> Sometimes you need that extra push of motivation. Find a gym buddy or make a new friend at your gym and push those gains to the limit!
      </p>
    </div> <!--Closing point tag -->
  </div> <!--Closing Selling Points Tag -->
</div> <!--Closing container tag -->

 <div class="container-fluid">
   <div class="Nutrition-Plan">
     <h2>Proper diet is key to achieving the body you always wanted</h2> 
     <h3>Abs are not made in the gym, they are made in the kitchen! </h3>
   </div> <!--closing Nutrition-Plan tag -->
 </div> <!--closing container-fluidtag -->

 <div class="container-fluid">
   <div class="home-images">
     <div class="col-sm-4">
       <img src="http://i.imgur.com/Sa9ZC64.jpg" alt="water photo"/>
       <h1 class="text-center">Staying Hydrated</h1>
       <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and           for women, 2.7L (9 glasses of water) per day. Your body is comprised of approximately 70-75% water</p>
     </div> <!--closing col-md-4 tag -->
     
     <div class="col-sm-4">
       <img src="http://i.imgur.com/SS4dBaN.png" alt="metabolism photo"/>
       <h1>Speed up your Metabolism</h1>
       <p>In order to speed up your metabolism you have to follow certain guidelines. Firstly, you should be eating small meals/snacks periodically                    throughtout your day. Everyones favorite beverage, coffee is a stimulant that increases the bodies metabolic rate. 
       </p> 
     </div> <!--closing col-md-4 tag -->
     
     <div class="col-sm-4">
       <img src="http://i.imgur.com/kB0CZ5o.jpg" alt="gym photo"/>
       <h1 class="text-center">Training Your Body</h1>
       <p>At the end of the day eating well can only get you so far. It's time to get off the couch and drop those Doritos and head over to the gym                     to burn off some fat. Whether you're a beginner or familiar with the gym, training is important for everyone, so lets have fun and get                       started!  
       </p>
     </div> <!--closing col-md-4 -->
   </div> <!--home-images closing tag -->  
 </div> <!--container closing tag -->
 
 <div class="container-fluid Goals">
   <h2>Training Mind, Body and Heart</h2> 
   <img src="http://i.imgur.com/FO09gRp.jpg" class="yoga" alt="yoga icon"/>
   <img src="http://i.imgur.com/Pk31qXk.jpg" class="dumbbell" alt="dumbbell icon"/>
   <img src="http://i.imgur.com/9T6XXc0.jpg" class="heart" alt="heart icon">
 </div> <!--closing container-fluid tag -->

 <div class="main-image">
   <img src="http://i.imgur.com/CtWZNfB.jpg" alt="you are your worst enemy"/>
 </div> <!--closing hero-unit tag -->
  