<div class="container lunch-container">
  <div class="jumbotron text-center lunch">
    <h1>Lunch</h1>
    <p> 12PM-4PM - The Power Hours</p>
  </div> <!--closing jumbotron class -->
  <div class="col-md-12">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Lunch</strong></h3>
      </div> <!--panel heading closing tag -->
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td><strong>Protein Options</strong></td>
            <td>Chicken, Steak. Tuna, Salmon, Turkey Burgers, Ground Beef (90/10, 95/5), Ground Turkey (90/10, 95/5) </td>
            <td>6-8 oz of either protein per meal is excellent.</td>
          </tr>
          <tr>
            <td><strong>Carbohydrate Options</strong></td>
            <td>Quinoa, Brown Rice, Whole Grain Cous-Cous, Buckwheat, Yams, Whole Wheat Pasta</td>
            <td>6-8oz of either carbohydrate is great. Carbs are stored energy so getting the healhty kind as show above is essential!</td>
          </tr>
          <tr>
            <td><strong>Veggie Options</strong></td>
            <td>Peppers, Broccoli, Edamame, Caulifower, Tomatoes, Avacados, Cucumbers, Onions, Scallions, Celery, Mushrooms, Asparagus</td>
            <td>6-8 oz of veggies is a good portion. You can never eat too many vegetables!</td>
          </tr>
        </tbody>
      </table> <!--closing table tag -->
    </div> <!--closing panel default tag -->
  </div> <!--closing col-md-12 -->
  <div class="col-md-12">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Lunch Options</strong></h3>
      </div> <!-- closing panel heading tag-->
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td><strong>Option 1</strong></td>
            <td>Chicken w/ Quinoa and Veggies</td>
            <td>5-7 oz of chicken, 5-7 oz of Quinoa, 5-7 oz of assorted veggies.</td>
          </tr>
          <tr>
            <td><strong>Option 2</strong></td>
            <td>Steak w/ Yams and Veggies</td>
            <td>5-7 oz of steak, 5-7 oz of Yams, 5-7 oz of veggies</td>
          </tr>
          <tr>
            <td><strong>Option 3</strong></td>
            <td>Tuna w/ cous-cous, and veggies</td>
            <td>1 can of tuna, 5-7 oz of cous-cous, mix in onions, peppers, celery for crunch and low-fat mayo</td>
          </tr>
          <tr>
            <td><strong>Option 4</strong></td>
            <td>Salmon w/ brown rice and asparagus</td>
            <td>5-7 oz of salmon (baked), 5-7 oz of brown rice (Not Minute-rice brand), and 5-7 oz of asparagus</td>
          </tr>
          <tr>
            <td><strong>Option 5</strong></td>
            <td>Turkey Burger Sandwich</td>
            <td>Lean Turkey Burger w/ whole wheat bread, lettuce, tomatoe, avacado, low fat cheese(optional)</td>
          </tr>
          <tr>
            <td><strong>Option 6</strong></td>
            <td>Ground Beef / Ground Turkey w/ any of the above carb choices and veggies</td>
            <td>7-10oz of ground beef / ground turkey, 5-7 oz of choice of carbs and 5-7 oz of veggies.</td>
          </tr>
        </tbody>
      </table>
    </div> <!--closing panel-default -->
  </div> <!--closing col-md-12 tag -->
  <div class="col-md-12">
    <div class="panel panel-default text-center">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>At Work / Lunch Alternatives</strong></h3>
      </div> <!--closing heading tag -->
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td><strong>Alternative 1</strong></td>
            <td>Healthy Wrap</td>
            <td>Ingredients: Whole wheat wrap, chicken/steak/salmon/tuna with lettuce, tomato, avacado, eggs whites, and onions</td>
          </tr>
          <tr>
            <td><strong>Alternative 2</strong></td>
            <td>Salad</td>
            <td>chicken/steak/salmon/tuna, mixed greens, add assortment of vegetables and take it easy on the dressing. It's a salad not a soup. </td>
            <td>Oil Recommendations for salads. <button type="button" class="btn btn-primary" ng-click="oils()">Oils</button></td>
          </tr>
          <tr>
            <td><strong>Alternative 3</strong></td>
            <td>Chipotle</td>
            <td>Recommendation:Burrto bowl, brown rice, chicken/steak, peppers and onions, half pinto/half black beans, and guac. There is no need to get                     additional fat and extra calories with sour cream, cheese and tortillas.</td>
            <td>Times per week: 1x</td>
          </tr>
          <tr>
            <td><strong>Alternative 4</strong></td>
            <td>Sandwiches</td>
            <td>Whole wheat / mutli-grain, a protein(listed above), veggies, low-fat sauce if any. Try and skip out on getting cheese.</td>
          </tr>
        </tbody>
      </table> <!--closing table tag -->
    </div> <!--closing panel tag -->
  </div> <!--closing col-12-md tag -->
</div> <!--closing container class -->