<div class="container">
  <div class="jumbotron text-center">
    <h1>Proteins</h1>
      <p> The Good & The Bad</p>
      <a href="#" class="btn btn-success">Good Proteins</a> <!-- btn btn-success = green -->
      <a href="#" class="btn btn-danger">Bad Proteins</a> <!-- btn btn-danger = red -->
  </div> <!--jumboton closing tag -->
  <div class="row">
    <div class="col-md-6">
      <a href="#" class="thumbnail">
        <img src="http://i.imgur.com/rvNp3Lo.jpg" alt="healthy Fats photo"/>
      </a>
      <h1>Healthy Proteins</h1>
        <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and               for women, 2.7L (9 glasses of water) per day.</p>
      <a href="#" class="btn btn-success">Healthy Proteins</a>
    </div>
       <div class="col-md-6">
      <a href="#" class="thumbnail">
        <img src="http://i.imgur.com/Sa9ZC64.jpg" alt="water photo"/>
      </a>
      <h1>Unhealthy Proteins</h1>
        <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and               for women, 2.7L (9 glasses of water) per day.</p>
      <a href="#" class="btn btn-danger">Baby Proteins</a>
    </div>
    </div>
  </div> <!--Container closing tag -->