<div class="container container-protein">
  <div class="jumbotron text-center proteinPlus">
    <h1>Protein</h1>
    <p>If you want to be a Pro at nutrition, go have some Protein!</p> 
  </div> <!--jumboton closing tag -->
  <div class="row">
    <div class="col-md-3">
      <img src="http://i.imgur.com/E7GnPAP.jpg" alt="Chicken Breast photo"/>
      <h1>Chicken Breast</h1>
      <p>The chicken breast is one of the most nutritious and best-tasting parts of the chicken. A chicken breast is full of protein while being low in                carbohydrates and fat. Depending on the way it is cooked, chicken breast can also be low in calories while providing many of the vitamins and other          nutrients you need every day. According to the Academy of Nutrition and Dietetics, 4 ounces of grilled chicken contain about 36 grams of protein.
      </p>
    </div> <!--closing-col-md-3 tag -->
    <div class="col-md-3">
      <img src="http://i.imgur.com/miLrYtD.jpg" alt="Salmon photo"/>
        <h1>Salmon</h1>
          <p>Salmon is packed with essential nutrients -- especially protein, omega-3 fatty acids, vitamins and minerals. Grilling salmon is one of the most              heart-healthy ways to prepare it. Eating grilled salmon puts you well on your way to fulfilling your daily protein needs. A 3-ounce portion of                grilled salmon contains about 22 grams of dietary protein, notes the USDA.
          </p>
    </div> <!--closing-col-md-3 tag -->
    <div class="col-md-3">
      <img src="http://i.imgur.com/IbkrVRD.jpg" alt="Steak photo"/>
      <h1>Steak</h1>
      <p>Red meat is consistently considered an unhealthy food. Although steak does have high levels of cholesterol and saturated fat, it is also a good               source of protein and nutrients. In moderation, steak can be a worthy addition to most diet plans. Different cuts of meat have different                     nutrient profiles, so opt for lower calorie cuts of meat if possible.
      </p>
    </div> <!--closing-col-md-3 tag -->
    <div class="col-md-3">
      <img src="http://i.imgur.com/QC7Swc7.jpg" alt="Steak photo"/>
        <h1>Cottage Cheese</h1>
        <p>Cottage cheese contains all the essential amino acids needed for it to qualify as a complete protein. One cup of creamed cottage cheese has 2                3 grams of protein, which is 41 percent of the recommended daily intake for men and 50 percent for women. 
        </p>
    </div> <!--closing-col-md-3 tag -->
  </div> <!--closing row tag -->
  <div class="row">
    <div class="col-md-3">
      <img src="http://i.imgur.com/GSiisIS.jpg" alt="Eggs photo"/>
      <h1>Eggs</h1>
      <p>Eggs are among the few foods that I would classify as “superfoods." They are loaded with nutrients, some of which are rare in the modern diet. A             whole egg contains 77 calories, 6 grams of protein and 5 grams of healthy fats. Here is a list of 6 reasons Eggs rule!
      </p>
      <ol>
        <li>Eggs Are Incredibly Nutritious</li>
        <li>Eggs Are High in Cholesterol, But They Don’t Adversely Affect Blood Cholesterol</li>
        <li>Eggs Raise HDL (The “Good”) Cholesterol</li>
        <p>People who have higher levels of HDL usually have a lower risk of heart disease, stroke and various health problems</p>
        <li>Eggs Contain Lutein and Zeaxanthin, Antioxidants That Have Major Benefits For Eye Health</li>
        <li>Eggs do NOT Raise Your Risk of Heart Disease and May Reduce The Risk of Stroke</li>
        <li>Eggs Are Highly Fulfilling and Tend to Make You Eat Fewer Calories, Helping You to Lose Weight</li>
      </ol>                                                                                                                          
    </div> <!--closing-col-md-3 tag -->
    <div class="col-md-3">
      <img src="http://i.imgur.com/xHPuOz6.jpg" alt="Whey Protein photo"/>
      <h1>Whey Protein</h1>
      <p>Whey protein is a mixture of globular proteins isolated from whey, the liquid material created as a by-product of cheese production. Whey protein is          commonly marketed and ingested as a dietary supplement, and various health claims have been attributed to it in the alternative medicine community.          Whey Protein is also commonly used as a pre/post workout drink to speed up muscle recovery. 
      </p>
    </div> <!--closing-col-md-3 tag -->
    <div class="col-md-3">
      <img src="http://i.imgur.com/TzJRkT9.jpg" alt="Almonds photo"/>
      <h1>Nuts</h1>
      <p>Eating nuts as part of a healthy diet can be good for your heart. Nuts, which contain unsaturated fatty acids and other nutrients, are a great snack          food, too. They're inexpensive, easy to store and easy to pack when you're on the go. Here is a list of some <strong>benefits:</strong>
      </p>
      <ol>
        <li><strong>Unsaturated fats</strong> ("Good Fats") - Lower Cholesterol</li>  
        <li><strong>Omega-3 fatty acids</strong></li> 
        <li><strong>Fiber</strong> - makes you feel full, so you eat less</li> 
        <li><strong>Vitamin E</strong> -  may help stop the development of plaques in your arteries, which can narrow them. Plaque development in your                           arteries can lead to chest pain, coronary artery disease or a heart attack</li> 
        <li><strong>Plant sterols</strong> - a substance that can help lower your cholesterol</li> 
        <li><strong>L-arginine</strong> - substance that may help improve the health of your artery walls by making them more flexible and less prone to                         blood clots that can block blood flow</li> 
      </ol>
    </div> <!--closing-col-md-3 tag -->
    <div class="col-md-3">
      <img src="http://i.imgur.com/fVfIGtt.jpg" alt="Milk photo"/>
      <h1>Milk</h1>
      <p>Milk has plenty of protein-about nine grams per 8-ounce glass—and that protein contains all eight essential amino acids, which means it's complete            and can be readily used by your body for repair and growth. Milk actually includes two types of protein: casein, which makes up 80 percent of the            total protein content, and whey, which accounts for the remaining 20 percent. Both are recognized as high-quality, muscle-building proteins; in              fact, whey is currently the most common form of protein found in bodybuilding supplements. Here are different versions of milk you can buy today:
      </p>
      <ol>
        <li><strong>Whole Milk</strong> - Per (1 Cup)8oz, Calories - 146, Total Fat - 8g, Total Carbs - 13g, Sugar - 13g, Protein - 8g </li> 
        <li><strong>2% Milk </strong>  - Per (1 Cup)8oz, Calories - 122, Total Fat - 5g, Total Carbs - 12g, Sugar - 12g, Protein - 8g </li>
        <li><strong>1% Milk</strong> - Per (1 Cup)8oz, Calories - 102, Total Fat - 2g, Total Carbs - 13g, Sugar - 12g, Protein - 8g</li>
        <li><strong>Almond Milk</strong> - Per (1 Cup)8oz, Calories - 60, Total Fat - 2.5g, Total Carbs - 8g, Sugar - 7g, Protein - 1g</li>
        <li><strong>Soy Milk</strong> - Per (1 Cup)8oz, Calories - 131, Total Fat - 4.2g, Total Carbs - 15g, Sugar - 10g, Protein - 8g</li>
        <li><strong>Rice Milk</strong> - Per (1 Cup)8oz, Calories - 120, Total Fat - 2g, Total Carbs - 25g, Sugar - 0g, Protein - 0g</li>
      </ol>
    </div> <!--closing-col-md-3 tag -->
</div> <!--Container closing tag -->