<div class="container">
  <div class="jumbotron text-center proteinPlus">
    <h1>Protein</h1>
      <p>If you wanna be a Pro at nutrition you should have some Protein!</p>
  </div> <!--jumboton closing tag -->
  <div class="row">
    <div class="col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://i.imgur.com/E7GnPAP.jpg" alt="Chicken Breast photo"/>
      </a>
      <h1>Chicken Breast</h1>
      <p>The chicken breast is one of the most nutritious and best-tasting parts of the chicken. A chicken breast is full of protein while being low in                carbohydrates and fat. Depending on the way it is cooked, chicken breast can also be low in calories while providing many of the vitamins and other          nutrients you need every day. According to the Academy of Nutrition and Dietetics, 4 ounces of grilled chicken contain about 36 grams of protein.
      </p>
      </div> <!--closing-col-md-2 tag -->
        <div class="col-md-3">
          <a href="#" class="thumbnail">
            <img src="http://i.imgur.com/miLrYtD.jpg" alt="Salmon photo"/>
          </a>
          <h1>Salmon</h1>
          <p>Salmon is packed with essential nutrients -- especially protein, omega-3 fatty acids, vitamins and minerals. Grilling salmon is one of the most              heart-healthy ways to prepare it. Eating grilled salmon puts you well on your way to fulfilling your daily protein needs. A 3-ounce portion of grilled salmon contains about 22 grams of dietary protein, notes the USDA.
          </p>
       </div> <!--closing-col-md-2 tag -->
         <div class="col-md-3">
           <a href="#" class="thumbnail">
             <img src="http://i.imgur.com/IbkrVRD.jpg" alt="Steak photo"/>
           </a>
           <h1>Steak</h1>
           <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard              and for women, 2.7L (9 glasses of water) per day.
           </p>
         </div> <!--closing-col-md-2 tag -->
           <div class="col-md-3">
             <a href="#" class="thumbnail">
               <img src="http://i.imgur.com/QC7Swc7.jpg" alt="Steak photo"/>
             </a>
             <h1>Cottage Cheese</h1>
             <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a                       standard and for women, 2.7L (9 glasses of water) per day.
             </p>
          </div> <!--closing-col-md-2 tag -->
   </div> <!--closing row tag -->
   <div class="row">
     <div class="col-md-3">
       <a href="#" class="thumbnail">
         <img src="http://i.imgur.com/GSiisIS.jpg" alt="Eggs photo"/>
       </a>
       <h1>Eggs</h1>
       <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and          for women, 2.7L (9 glasses of water) per day.
      </p>
    </div> <!--closing-col-md-2 tag -->
    <div class="col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://i.imgur.com/xHPuOz6.jpg" alt="Whey Protein photo"/>
      </a>
      <h1>Whey Protein</h1>
      <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and          for women, 2.7L (9 glasses of water) per day.
      </p>
    </div> <!--closing-col-md-2 tag -->
         <div class="col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://i.imgur.com/TzJRkT9.jpg" alt="Almonds photo"/>
      </a>
      <h1>Nuts</h1>
      <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and          for women, 2.7L (9 glasses of water) per day.
      </p>
    </div> <!--closing-col-md-2 tag -->
          <div class="col-md-3">
      <a href="#" class="thumbnail">
        <img src="http://i.imgur.com/fVfIGtt.jpg" alt="Milk photo"/>
      </a>
      <h1>Milk</h1>
      <p>Drinking plenty of water is an essential part of staying healthy. For men, the consumption of approx 3.7L (13 glasses of water) is a a standard and          for women, 2.7L (9 glasses of water) per day.
      </p>
    </div> <!--closing-col-md-2 tag -->
  </div> <!--Container closing tag -->